.App {
  font-family: "Miller Text", Georgia, serif;
  text-align: center;
}

.App footer {
  font-size: 15px;
  padding: 10px 0px 0px;
  color: #fcbf49;
  text-align: center;
}

.App .footer-link {
  text-decoration: none;
  color: #fcbf49;
  text-decoration: underline;
}
